/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100%;
    padding: 1rem;
}

button {
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
}